.LoadTest {
     
    /* 主区域Icon */

    position: absolute;
    width: 334px;
    height: 260px;
    left: calc(50% - 334px/2);
    top: 133px;

    background: url(5.png);

    /* 灰色椭圆底盘 */

    position: absolute;
    width: 338px;
    height: 39px;
    left: 28px;
    top: 388px;

    background: #3C2466;
    filter: blur(10px);
    /* 主标题 */
    /* Welcome to */

    position: absolute;
    width: 298px;
    height: 29px;
    left: 49px;
    top: 509px;

    font-family: 'Jersey 10';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    /* 副标题 */
    /* NovaExplorer */

    position: absolute;
    width: 258px;
    height: 48px;
    left: 68px;
    top: 546px;

    font-family: 'Jersey 10';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 48px;
    /* identical to box height, or 89% */
    display: flex;
    align-items: center;
    text-align: center;

    background: linear-gradient(90deg, #1EDDD6 0%, #34E37A 19.8%, #47F04F 36.43%, #81E73B 52.69%, #BAE25B 75.48%, #E377DA 94.23%), linear-gradient(156.71deg, #6B0AE9 2.78%, #6410B1 99.22%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    /* 选择器  Frame 292  Auto layout*/

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 106px;
    height: 6px;
    left: 143.5px;
    top: 686px;

    /* 底部导航盒子  Frame 296  Auto layout */
    */ display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 285px;
    height: 30px;
    left: 54px;
    top: 716px;
    /* 左侧skip按钮 */
    /* Frame 156 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 4px;

    width: 138px;
    height: 30px;

    background: #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* 右侧next step按钮  Frame 167 Auto layout /*/

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 4px;

    width: 141px;
    height: 30px;

    background: linear-gradient(156.71deg, #6B0AE9 2.78%, #6410B1 99.22%);
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}