.test{
    /* Frame 11 */
/* 标题最高父级盒子 */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 254px;
height: 52px;
left: calc(50% - 254px/2 + 0.5px);
top: 134px;


/* Task Center */
width: 166px;
height: 22px;

font-family: 'Jersey 25';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 22px;
/* identical to box height, or 61% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
/* 标题下方 */
/* Complete tasks to get rewards */

width: 254px;
height: 22px;

font-family: 'Jersey 25';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */
text-align: center;

color: #B2B2B2;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 任务列表 */
/* Group 169 */

position: absolute;
width: 361px;
height: 80px;
left: 16px;
top: 196px;

backdrop-filter: blur(20.5px);
/* Note: backdrop-filter has minimal browser support */

}